import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';
import { DocsModule } from 'ng-documentation';

@NgModule({
  declarations: [],
  imports: [
    CommonModule,
    DocsModule
  ],
  exports: [
    DocsModule,
  ]
})
export class SharedModule { }
